<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453644481587-ld3nppaskp1kb2v7b3sejmvq6h0m9jbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453644481587-ld3nppaskp1kb2v7b3sejmvq6h0m9jbq</string>
	<key>API_KEY</key>
	<string>AIzaSyBXb7rjgtEHmliI3dDULUVlTlILB63MUCI</string>
	<key>GCM_SENDER_ID</key>
	<string>453644481587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ika.ikakooo.pro.Cryptal-Bank</string>
	<key>PROJECT_ID</key>
	<string>cryptal-bank</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptal-bank.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453644481587:ios:e9516967fdb9e6a45bdf46</string>
</dict>
</plist>